/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

li {
  font-size: smaller;
  margin: inherit;
  color: rgb(20, 0, 0);
  margin-left: 30px;
}

section h2 {
  text-align: center !important;
}

ul.description {
  color: rgba(49, 42, 42, 0.911);
}

div .description p {
  font-size: smaller;
  margin: 5px;
  color: rgb(20, 0, 0);
  margin-left: 30px;
}
